.divTable {
  display: table;
  display: flex;
  flex-wrap: wrap;
}

.divTableRow {
  display: table-row;
  display: flex;
  flex-wrap: wrap;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  border: 2px solid silver;
  display: table-cell;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;



  margin: 2px;



}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
  display: flex;
}

body {
  background-color: whitesmoke;
}

.vocabulary {
  /*font-size: 5vmin;*/
  font-size: calc(1vw + 1vh + .5vmin);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin-top: 10px;
}


.more_info .furigana {

  position: absolute;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background: silver;
  padding: 1px;
  white-space: normal;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  z-index: 90000;

  margin-left: auto; 
  margin-right: auto; 
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;

}


/* KEYWORD */
kw:before {
  content: attr(t);
  text-align: start;
  line-height: 1.5;
}

kw {

  text-indent: 0px;
  line-height: normal;
  text-align: center;
}

/* end KEYWORD */


.translation {
  position: absolute;
  background: gold;
  border: 1px solid silver;
  cursor: pointer;
}

.showT{
  /*border: 1px solid #999999;*/
  background: lightgrey;
  border: 1px solid silver;
  text-align: center;
  color: black;
  
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -6px;
}


.divTableCell {
  background-color: whitesmoke;
}


b{
  color: black;
  font-size: 10px;
  font-size: calc(.1vw + .1vh + .5vmin);
}


/*https://melvingeorge.me/blog/add-text-in-center-on-divider-hr-html-css*/

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5px;
}

.divider::after,
.divider::before,
.dividerTop::after,
.dividerTop::before {
  content: "";
  border: 1px solid black;
  flex: 1;
}

.divider:not(:empty)::before {
  margin-right: .25em;
}

.divider:not(:empty)::after {
  margin-left: .25em;
}

.dividerTop {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
}






/*
.more_info .story {

    position: absolute;
    width: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
       display: flex;
       flex-wrap: wrap;
       background: gold;
       padding: 4px;
       white-space: normal;
       margin:0 auto;
       border:1px solid black;
       border-radius: 6px;
       cursor: pointer;
       word-break: break-word;
       justify-content: space-between;
       align-items: center;
       z-index: 90000;
 
 
   }
 */